<main>
  <div class="row">
    
      <app-product-description></app-product-description>
    
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row tracklisting">
        <ul>
          <li>
            <div class="col-sm-5">
              <span class="track-number">1</span>
              <span class="track-name">The Last</span>
            </div>
            <div class="col-sm-3 text-right">
              <span class="track-time">4:48</span>
              <span class="price-and-buy"><button>$0.99</button></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>